// bower:scss
// endbower

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.r-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0;
  background: #ffffff;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__mob {
    display: inline-block;

    &-nav {
      display: none;
    }
  }

  &__logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #e50a37;
      text-decoration: none;
    }

    &-image {
      display: block;
      max-width: 100%;
    }

    &-text {
      display: block;
      position: absolute;
      right: 65px;
      bottom: 0;
      margin: 0 0 4px 0;
      color: #858585;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;

    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 18px 0;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;

      &:last-child {
        margin: 0;
      }

      a {
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #e50a37;
          text-decoration: none;
        }
      }

      i {
        display: inline-block;
        margin-right: 5px;
        color: #e50a37;
        font-size: 14px;
      }
    }
  }

  &__numbers {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 360px;
  }

  &__number {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 160px;
    margin: 0 0 15px;

    &_last {
      margin: 0;
    }

    &-city {
      display: block;
      margin: 0 0 2px 0;
      color: #858585;
      font-size: 14px;
      font-weight: 400;
    }

    &-phone {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #e50a37;
        text-decoration: none;
      }
    }
  }
}

.r-nav {
  display: block;
  position: relative;
  width: 100%;
  background: #41a160;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__dropper {
    &:hover {
      &>i {
        color: #95feb6;
      }

      &>a {
        color: #95feb6;

        i {
          color: #95feb6;
        }
      }

      .r-nav__drop {
        display: block;
      }
    }
  }

  &__subdropper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>i {
      display: block;
      position: absolute;
      right: 20px;
      top: 9px;
      color: #ffffff;
      font-size: 16px;
    }

    &:hover {
      &>a {
        color: #95feb6;

        i {
          color: #95feb6;
        }
      }

      &>i {
        color: #95feb6;
      }

      .r-nav__subdrop {
        display: block;
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 265px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    border-radius: 7px;
    background-color: #358950;
    z-index: 9;

    &>li {
      display: block;
      position: relative;

      &>a {
        display: block;
        padding: 9px 35px 9px 20px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #95feb6;
          text-decoration: none;

          i {
            color: #95feb6;
          }
        }

        i {
          display: inline-block;
          margin-right: 8px;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }

  &__subdrop {
    display: none;
    position: absolute;
    top: -10px;
    left: 100%;
    width: 355px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    border-radius: 7px;
    background-color: #2b7142;
    z-index: 10;

    &>li {
      display: block;
      position: relative;

      &>a {
        display: block;
        padding: 9px 10px 9px 20px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #95feb6;
          text-decoration: none;

          i {
            color: #95feb6;
          }
        }

        i {
          display: inline-block;
          margin-right: 8px;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }

  &__bar {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;
      margin: 0 30px 0 0;
      position: relative;

      &>i {
        display: inline-block;
        margin-left: 4px;
        color: #ffffff;
        font-size: 16px;
      }

      &>a {
        display: inline-block;
        position: relative;
        padding: 6px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #95feb6;
          text-decoration: none;

          i {
            color: #95feb6;
          }
        }

        i {
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }

  &__call {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 17px 90px;
    background: #4ec674;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #2b8346;
      color: #95feb6;
      text-decoration: none;

      i {
        color: #95feb6;
      }
    }

    i {
      display: inline-block;
      margin-right: 5px;
      color: #ffffff;
      font-size: 16px;
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0 !important;
}

.r-big {
  display: block;
  position: relative;
  width: 100%;

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #e50a37;
    border-radius: 999rem;
    opacity: 1;
  }

  .slick-active {
    background: #e50a37 !important;
    opacity: 1 !important;
  }

  .slick-dots {
    position: absolute;
    width: auto;
    bottom: 105px;
    left: calc((100vw - 1200px) / 2 + 80px);
  }

  .slick-next,
  .slick-prev {
    width: 20px;
    height: 33px;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    right: calc((100vw - 1200px) / 2 - 50px);
    background: url("../images/icon_slick_next.png");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: calc((100vw - 1200px) / 2 - 50px);
    background: url("../images/icon_slick_prev.png");

    &:before {
      display: none;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    padding: 35px 0;
    background-size: cover;
    background-position: right center;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 670px;
    height: 480px;
    padding: 70px 65px 100px 65px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    height: 84px;
    margin: 0 0 20px 0;
    overflow: hidden;
    color: #161616;
    font-size: 35px;
    font-weight: 600;
  }

  &__text {
    display: block;
    position: relative;
    width: 100%;
    height: 90px;
    margin: 0 0 30px 0;
    overflow: hidden;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 13px 56px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #41a160 url('../images/icon_button.png') no-repeat right 10px center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #4ec674 url('../images/icon_button.png') no-repeat right 10px center;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-home-title {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 0;
  background: #fafafa;
  text-align: center;

  h1 {
    display: block;
    margin: 0;
    color: #858585;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.r-combo {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/home_bg.png') no-repeat center top 290px, linear-gradient(to top, #ffffff 0%, rgba(243, 244, 246, 0) 100%);
}

.r-services {
  display: block;
  position: relative;
  width: 100%;
  margin: 85px 0 60px 0;
  box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;

  &__title {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 7px 7px 0 0;
    background: #41a160 url('../images/title_bg.png') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 80px 35px 65px 60px;
  }

  &__row {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 480px;
  }

  &__subtitle {
    display: block;
    margin: 0 0 25px 20px;
    color: #161616;
    font-size: 25px;
    font-weight: 600;
  }

  &__link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 4px;
    padding: 12px 20px;
    border-radius: 999rem;
    background: transparent;
    color: #161616;
    font-size: 20px;
    font-weight: 600;

    &:last-child {
      margin: 0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #41a160;
      color: #ffffff;
      text-decoration: none;

      i {
        color: #ffffff;
      }
    }

    i {
      display: inline-block;
      margin-right: 6px;
      font-size: 20px;
      color: #e50a37;
    }
  }

  &__hr {
    display: inline-block;
    width: 1px;
    height: auto;
    background-color: #4ec674;
  }
}

.r-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 38px 70px 50px 70px;
  box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  z-index: 1;

  &_over {
    margin-bottom: -70px;
  }

  &__info {
    display: block;
    width: 100%;
    max-width: 530px;
    margin: 27px auto 0 auto;
    padding: 0 0 0 22px;
    background: url('../images/icon_checked.png') no-repeat left top;
    color: #000000;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #161616;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

    input {
      display: inline-block;
      width: 100%;
      max-width: 330px;
      margin: 0 0 4px 0;
      padding: 8px 2px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #c8c8c8;
      color: #161616;
      font-size: 18px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #41a160;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 14px 46px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #41a160;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #4ec674;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 50px 0;

  &_page {
    padding: 20px 0 60px 0;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #161616;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 255px;
    margin-bottom: 40px;
    text-align: center;

    &-image {
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 0 65px 0;
      object-fit: scale-down;
      object-position: center center;
      font-family: 'object-fit: scale-down;';
    }

    &-title {
      display: block;
      margin: 0;
      color: #161616;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.r-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 50px 0;
  background: transparent;
  color: #161616;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  &_paddings_lg {
    padding: 100px 0 90px 0;
  }

  &__title {
    display: block;
    margin: -5px 0 25px 0;
    color: #161616;
    font-size: 24px;
    font-weight: 700;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 650px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    background-color: #ffffff;
    object-fit: cover;
    font-family: 'object-fit: cover;';

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

    &_before {
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 70px;
        left: 0;
        width: 331px;
        height: 594px;
        margin-left: -270px;
        background: url('../images/seo_before.png') no-repeat center;
        background-size: contain;
        z-index: -1;
      }
    }

    &_after {
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 40px;
        right: 0;
        width: 340px;
        height: 593px;
        margin-right: -250px;
        background: url('../images/seo_after.png') no-repeat center;
        background-size: contain;
        z-index: -1;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 25px 0;
    color: #161616;
    font-weight: 700;
  }

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #161616;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  b,
  strong {
    font-weight: 700;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 0 20px 0;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 30px;
      color: #161616;
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '•';
        left: 20px;
        top: 0;
        color: #e6103c;
        font-weight: 700;
      }
    }
  }

  a {
    color: #41a160;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #41a160;
      text-decoration: none;
    }
  }
}

.r-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 165px 0;
  background: url('../images/home_bg.png') no-repeat center 300px;

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #e50a37;
    border-radius: 999rem;
    opacity: 1;
  }

  .slick-dots .slick-active {
    background: #e50a37 !important;
    opacity: 1 !important;
  }

  .slick-dots {
    width: 100%;
    bottom: -50px;
  }

  .slick-next,
  .slick-prev {
    width: 20px;
    height: 33px;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    margin-right: -50px;
    background: url("../images/icon_slick_next.png");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    margin-left: -50px;
    background: url("../images/icon_slick_prev.png");

    &:before {
      display: none;
    }
  }

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 570px;
    height: 360px;
    margin: 0 auto;
    padding: 35px 40px;
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background: #ffffff url('../images/icon_quote.png') no-repeat 20px 20px;

    &-text {
      display: block;
      width: 100%;
      height: 240px;
      margin: 0 0 10px 0;
      overflow: hidden;
      color: #161616;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-author {
      display: block;
      margin: 0;
      color: #161616;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 700;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      width: 100%;
    }

    &-link {
      display: inline-block;
      color: #e40a37;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #e40a37;
        text-decoration: none;
      }
    }
  }
}

.r-card {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0;
  background: url('../images/order_bg.jpg') no-repeat left center;
  background-size: cover;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 470px;
    padding: 35px 40px 40px 40px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    color: #161616;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0 0 40px 0;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin: 0 10px 4px 0;
    border-radius: 999rem;
    border: 1px solid #e50a37;
    background: transparent;
    padding: 13px 32px;
    color: #161616;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      background: #e50a37;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-licenses {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 100px 0;
  background: url('../images/license_bg.png') no-repeat center top;

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .item {
      padding: 20px 5px;
    }

    .slick-next,
    .slick-prev {
      width: 20px;
      height: 33px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_2_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_2_prev.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    padding: 40px 25px 15px 25px;
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background-image: linear-gradient(-51deg, #4ec674 0%, #6ee694 100%);
    text-align: center;
    transition: all 0.2s ease-out;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 190px;
      height: 270px;
      margin: 0 auto 25px auto;
      box-shadow: 0 5px 24px 1px rgba(0, 0, 0, 0.19);
      border-radius: 7px;
      border: 1px solid #d5d5d5;
      background-color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active {
        text-decoration: none;

        .r-licenses__card-overlay {
          width: 100%;
          height: 100%;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
        font-family: 'object-fit: contain;';
      }
    }

    &-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      border-radius: 7px;
      background-color: rgba(65, 162, 96, 0.8);
      z-index: 1;
      transition: all 0.2s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: -10px;
        background: url('../images/icon_zoom.png') no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }

    &-title {
      display: block;
      width: 100%;
      height: 95px;
      margin: 0 0 5px 0;
      overflow: hidden;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        text-decoration: underline;
      }

      i {
        display: inline-block;
        margin-left: 5px;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}

.r-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 38px 0 33px 0;
  background: #383838;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: block;
    margin: 18px 0 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin-left: 30px;
        padding: 6px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #95feb6;
          text-decoration: none;
        }
      }
    }
  }

  &__creators {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 52px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    p {
      margin: 0;
    }

    img {
      display: inline-block;
      margin: 0 2px 0 6px;
    }

    a {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #95feb6;
        text-decoration: none;
      }
    }
  }
}

.r-calc {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  background: url('../images/calc_bg.jpg') no-repeat top right;
  background-size: cover;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 570px;
    padding: 35px 60px 40px 40px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    color: #161616;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    color: #161616;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0 0 35px 0;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }

  &__input {
    display: inline-block;
    width: 100%;
    margin: 0 0 4px 0;
    padding: 6px 2px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #c8c8c8;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #41a160;
    }
  }

  &__info {
    display: inline-block;
    width: 280px;
    margin: 0;
    padding: 0 0 0 22px;
    background: url('../images/icon_checked.png') no-repeat left top;
    color: #000000;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 13px 42px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #41a160;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #4ec674;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__number {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 185px;

    &-text {
      display: block;
      margin: 0 0 6px 0;
      color: #858585;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }

    input {
      display: block;
      width: 100%;
      padding: 7px;
      border-radius: 7px;
      border: 1px solid #c8c8c8;
      outline: 0;
      background-color: transparent;
      color: #161616;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #41a160;
      }
    }
  }

  .rangeslider--horizontal {
    width: 265px;
    height: 1px;
  }

  .rangeslider {
    margin-top: 15px;
    box-shadow: none;
    background: #c8c8c8;
  }

  .rangeslider__fill {
    background: #4ec674;
  }

  .rangeslider__handle:after {
    width: 10px;
    height: 10px;
    background: #e50a37;
  }

  .rangeslider__handle {
    width: 18px;
    height: 18px;
    border: 0;
    box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.22);
    background: #ffffff;
  }
}

.r-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 100px 65px 50px 65px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    background: #ffffff url('../images/modal_bg.png') no-repeat center top;
    background-size: 100% auto;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    color: #161616;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 35px 0;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    input {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto 20px auto;
      padding: 8px 2px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #c8c8c8;
      color: #161616;
      font-size: 18px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #41a160;
      }
    }
  }

  &__button {
    display: inline-block;
    margin-top: 0;
    padding: 13px 42px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #41a160;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #4ec674;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 35px;
  }

  &__info {
    display: inline-block;
    width: 280px;
    margin: 0;
    padding: 0 0 0 22px;
    background: url('../images/icon_checked.png') no-repeat left top;
    color: #000000;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.r-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 26px 0;
  background-color: #fafafa;

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;

      a {
        display: inline-block;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #e50a37;
          text-decoration: none;
        }
      }

      i {
        display: inline-block;
        margin: 0 5px;
        color: #e50a37;
        font-size: 14px;
      }
    }
  }
}

.r-catalog {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 90px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &>.r-catalog__card {
      margin: 0 10px 55px 10px;
    }
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 55px auto;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .r-catalog__card-image {
        box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 270px;
      margin-bottom: 16px;
      border-radius: 7px;
      border: 1px solid #d5d5d5;
      background-color: #ffffff;
      object-fit: scale-down;
      object-position: center center;
      font-family: 'object-fit: scale-down;';
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      height: 72px;
      margin: 0 0 5px 0;
      overflow: hidden;
      color: #161616;
      font-size: 20px;
      font-weight: 600;
    }

    &-price {
      color: #161616;
      font-size: 25px;
      font-weight: 800;

      span {
        color: #e50a37;
        font-size: 23px;
        font-weight: 700;
      }
    }
  }
}

.r-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 70px 0 0 0;
  list-style: none;

  &_active {
    a {
      background: #41a160 !important;
      color: #ffffff !important;
    }
  }

  li {
    display: inline-block;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-width: 50px;
      height: 50px;
      margin: 0 10px 4px 10px;
      padding: 2px;
      border: 1px solid #41a160;
      border-radius: 999rem;
      background-color: transparent;
      color: #161616;
      font-size: 25px;
      font-weight: 800;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #41a160;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.r-big-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 125px 0 60px 0;
  background: #41a260 url('../images/seo_icon_bg.png') no-repeat left top;
  background-size: auto 100%;
  clip-path: circle(10000px at 50% 10000px);
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }

  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc((100vw - 1200px) / 2 + 370px);
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-weight: 700;
  }

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  b,
  strong {
    font-weight: 700;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    margin: 5px 0 20px 0;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 30px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '•';
        left: 20px;
        top: 0;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }

  a {
    color: #c7fdd9;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #c7fdd9;
      text-decoration: none;
    }
  }
}

.r-page {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/home_bg.png') no-repeat center top 150px;
}

.r-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 30px 0;

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: inline-block;
    width: 370px;
    height: 300px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    background-color: #75746f;
    object-fit: cover;
    object-position: center center;
    font-family: 'object-fit: cover;';
  }

  &__content {
    display: block;
    width: 800px;
    padding: 35px 80px 35px 30px;
    border-radius: 0 7px 7px 0;
    background: #41a160 url('../images/about_bg.png') no-repeat right center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;

    p {
      margin: 0 0 10px 0;
    }
  }
}

.r-categories {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 50px 0;

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    min-height: 235px;
    margin-bottom: 30px;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    transition: all 0.2s ease-out;

    &_long {
      max-width: 100%;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      opacity: 0;
      border-radius: 7px 7px;
      background: rgba(65, 162, 96, 0.8);
      transition: all 0.2s ease-out;
      z-index: 1;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }

    &-title {
      display: block;
      width: 100%;
      margin: -1px -1px 0 -1px;
      padding: 15px;
      border-radius: 7px 7px 0 0;
      background-color: #41a160;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      z-index: 2;
    }

    &-image {
      display: block;
      flex: 1 1 auto;
      width: 100%;
      height: 180px;
      border-radius: 0 0 7px 7px;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }
}

.r-good {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 120px 0;

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    object-fit: scale-down;
    object-position: center center;
    font-family: 'object-fit: scale-down;';
    z-index: 1;
  }

  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__price {
    display: inline-block;
    color: #161616;
    font-size: 40px;
    font-weight: 800;

    span {
      color: #e50a37;
      font-size: 36px;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    margin: 0 10px 4px 0;
    border-radius: 999rem;
    border: 1px solid #e50a37;
    background: #e50a37;
    padding: 13px 55px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #f0345a;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 38px;
    padding: 35px 200px 35px 0;
    border-radius: 0 7px 7px 0;
    background: #41a160 url('../images/good_bg.png') no-repeat right center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 330px;
      height: 100%;
      right: 100%;
      top: 0;
      margin-right: -1px;
      border-radius: 7px 0 0 7px;
      background: #41a160;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
}

.r-more {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 120px 0;

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 20px;
      height: 33px;
      top: 33%;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }

  }
}

.r-service {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 20px 0;

  .rangeslider--horizontal {
    width: 265px;
    height: 1px;
  }

  .rangeslider {
    margin-top: 15px;
    box-shadow: none;
    background: #c8c8c8;
  }

  .rangeslider__fill {
    background: #4ec674;
  }

  .rangeslider__handle:after {
    width: 10px;
    height: 10px;
    background: #e50a37;
  }

  .rangeslider__handle {
    width: 18px;
    height: 18px;
    border: 0;
    box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.22);
    background: #ffffff;
  }

  &__title {
    display: block;
    margin: 40px 0 26px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__content {
    display: block;
    padding: 0 0 45px 0;
    color: #161616;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    p {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 340px;
      height: 593px;
      top: 37px;
      left: 100%;
      margin-left: -90px;
      background: url('../images/service_after.png') no-repeat center;
      background-size: cover;
      z-index: 0;
    }

    img {
      display: block;
      position: absolute;
      width: 570px;
      height: 650px;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center center;
      font-family: 'object-fit: cover;';
      border-radius: 7px;
      box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
      background-color: #ffffff;
      z-index: 1;
    }
  }

  &__trash {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1160px;
    height: 325px;
    margin-bottom: 140px;
    margin-left: -45px;
    padding: 40px 45px;
    border-radius: 7px;
    background: #41a160 url('../images/service_bg.png');
  }

  &__seo {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0 40px 0;
    color: #161616;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      color: #161616;
      font-weight: 700;
    }

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #161616;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    b,
    strong {
      font-weight: 700;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      margin: 0 0 20px 0;

      li {
        display: block;
        position: relative;
        margin-bottom: 2px;
        padding-left: 30px;
        color: #161616;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '•';
          left: 20px;
          top: 0;
          color: #e6103c;
          font-weight: 700;
        }
      }
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
}

.r-contacts {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 75px 0 35px 0;
    color: #161616;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 60px;
    left: calc((100vw - 1200px) / 2);
    width: 100%;
    max-width: 475px;
    height: 480px;
    padding: 45px 45px 45px 50px;
    overflow-y: auto;
    box-shadow: 0 8px 64px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    z-index: 1;
  }

  &__subtitle {
    display: block;
    margin: 0;
    color: #161616;
    font-size: 25px;
    font-weight: 700;
  }

  &__hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #4ec674;
  }

  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 18px 0;
      color: #3a3a3a;
      font-size: 18px;
      font-weight: 400;

      &:last-child {
        margin: 0;
      }

      a {
        color: #3a3a3a;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #e50a37;
          text-decoration: none;
        }
      }

      i {
        display: inline-block;
        margin-right: 5px;
        color: #e50a37;
        font-size: 18px;
      }
    }
  }

  &__numbers {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 360px;
  }

  &__number {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 160px;
    margin: 0 0 15px;

    &_last {
      margin: 0;
    }

    &-city {
      display: block;
      margin: 0 0 2px 0;
      color: #858585;
      font-size: 14px;
      font-weight: 400;
    }

    &-phone {
      display: block;
      margin: 0;
      color: #3a3a3a;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #e50a37;
        text-decoration: none;
      }
    }
  }

  &__link {
    display: inline-block;
    color: #41a160;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #41a160;
      text-decoration: none;
    }
  }
}

.r-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 55px 0;
  background: #41a160 url('../images/contacts_bg.png') no-repeat center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;

    .row {
      width: 100%;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px 23px;
      border: 0;
      outline: 0;
      border-radius: 23px;
      background-color: #ffffff;
      color: #161616;
      font-size: 18px;
      font-weight: 400;
    }

    textarea {
      display: block;
      width: 100%;
      height: 175px;
      margin-bottom: 20px;
      padding: 12px 23px;
      border: 0;
      outline: 0;
      border-radius: 23px;
      background-color: #ffffff;
      color: #161616;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__button {
    display: inline-block;
    margin: 0 auto 0 auto;
    border-radius: 999rem;
    border: 0;
    outline: 0;
    border: 1px solid #e50a37;
    background: #e50a37;
    padding: 12px 46px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #f0345a;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    width: 100%;
    max-width: 530px;
    margin: -5px auto 15px auto;
    padding: 0 0 0 22px;
    background: url('../images/icon_checked_2.png') no-repeat left top;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.table-responsive {

  .table td,
  .table th {
    padding: 12px 20px;
    border: 0;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
  }

  .table thead th {
    padding: 16px 20px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: rgba(65, 161, 95, 0.05);
  }

  .table-striped tbody tr:nth-of-type(even) {
    background: #ffffff;
  }

  .table-striped tbody td:nth-of-type(odd) {
    background: rgba(65, 161, 95, 0.05);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .r-big .slick-next {
    right: 10px;
  }

  .r-big .slick-prev {
    left: 10px;
  }

  .r-seo__image_after:after {
    display: none;
  }

  .r-reviews .slick-next {
    margin-right: 15px;
  }

  .r-reviews .slick-prev {
    margin-left: 15px;
  }

  .r-licenses .slick-next {
    margin-right: 15px;
  }

  .r-licenses .slick-prev {
    margin-left: 15px;
  }

  .r-header__logo-image {
    max-width: 200px;
  }

  .r-header__logo-text {
    right: 25px;
    font-size: 11px;
  }

  .r-header {
    padding: 10px 0;

    &__mob {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;

      &-nav {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
  }

  .r-header__info-row {
    margin-bottom: 6px;
  }

  .r-header__info {
    padding: 10px 0;
  }

  .r-header__number {
    margin-bottom: 4px;
  }

  .r-nav__dropper:hover .r-nav__drop {
    display: none;
  }

  .r-nav {
    padding: 10px 0;
  }

  .r-nav__bar>li {
    display: block;
    width: 100%;
  }

  .r-nav__bar>li>a {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .r-nav__call {
    width: 100%;
    padding: 14px;
    text-align: center;
  }

  .r-modal__content {
    padding: 60px 20px 20px 20px;
  }

  .r-modal__close {
    right: 5px;
    top: 5px;
  }

  .r-modal__text {
    margin-bottom: 20px;
  }

  .r-modal__button {
    margin-top: 20px;
  }

  .r-nav {
    display: none;
  }

  .r-header__info {
    display: none;
  }

  .r-header__numbers {
    display: none;
  }

  .r-big__content {
    padding: 20px;
  }

  .r-big__title {
    height: auto;
    font-size: 28px;
  }

  .r-big__text {
    height: 128px;
    font-size: 16px;
  }

  .r-big__content {
    height: 420px;
  }

  .r-home-title h1 {
    font-size: 26px;
    text-align: center;
  }

  .r-services {
    margin: 20px 0;
  }

  .r-services__title {
    font-size: 24px;
  }

  .r-services__content {
    padding: 10px 10px 20px 10px;
  }

  .r-services__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .r-services__link {
    padding: 6px 20px;
    font-size: 18px;
  }

  .r-order {
    padding: 20px;
  }

  .r-order__form {
    justify-content: space-around;
  }

  .r-order__form input {
    margin-bottom: 10px;
  }

  .r-features {
    padding: 30px 0;
  }

  .r-features__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-features__cards {
    justify-content: space-around;
  }

  .r-features__card-image {
    margin-bottom: 5px;
  }

  .r-features__card {
    margin-bottom: 20px;
  }

  .r-seo {
    padding: 30px 0;
  }

  .r-seo__image_before:before {
    display: none;
  }

  .r-seo__image {
    display: block;
    max-width: 300px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .r-seo h1,
  .r-seo h2,
  .r-seo h3,
  .r-seo h4,
  .r-seo h5,
  .r-seo h6 {
    margin-bottom: 15px;
  }

  .r-seo p {
    margin-bottom: 20px;
  }

  .r-calc__content {
    padding: 20px;
  }

  .r-calc__title {
    text-align: center;
  }

  .r-calc__text {
    margin-bottom: 15px;
    text-align: center;
  }

  .r-calc__input {
    max-width: 100% !important;
  }

  .r-calc__row {
    justify-content: space-around;
  }

  .r-calc__number {
    align-items: center;
  }

  .r-reviews {
    padding: 30px 0;
  }

  .r-reviews__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-reviews__card {
    padding: 20px;
  }

  .r-card {
    padding: 30px 0;
  }

  .r-card__content {
    padding: 20px 10px 20px 15px;
  }

  .r-card__button {
    padding: 14px 20px;
  }

  .r-licenses {
    padding: 30px 0;
  }

  .r-licenses__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-licenses__card {
    padding: 10px;
  }

  .r-footer {
    padding: 20px 0;
  }

  .r-footer>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .r-footer__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 8px 12px;
        text-align: center;
      }
    }
  }

  .r-footer__creators {
    margin: 0;
  }

  .r-services__hr {
    display: none;
  }

  .r-catalog {
    padding: 30px 0;
  }

  .r-catalog__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-catalog__cards {
    justify-content: space-around;
  }

  .r-catalog__card {
    margin-bottom: 30px;
  }

  .r-catalog__card-image {
    max-width: 200px;
    height: 200px;
  }

  .r-catalog__card-title {
    height: auto;
  }

  .r-pagination {
    padding-top: 10px;
  }

  .r-big-seo {
    padding: 30px 0;
    background: #41a260;
    clip-path: none;
  }

  .r-order_over {
    margin-bottom: 20px;
  }

  .r-big-seo__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .r-about {
    padding: 30px 0;
  }

  .r-about__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-about__image {
    width: 100%;
    max-width: 300px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .r-about__content {
    width: 100%;
    padding: 20px;
    border-radius: 7px;
  }

  .r-categories {
    padding: 30px 0;
  }

  .r-categories__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-categories__cards {
    justify-content: space-around;
  }

  .r-more__cards .slick-next {
    margin-right: 15px;
  }

  .r-more__cards .slick-prev {
    margin-left: 15px;
  }

  .r-good {
    padding: 30px 0;
  }

  .r-good__image {
    max-width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .r-good__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-good__row {
    justify-content: space-around;
  }

  .r-good__content {
    margin-top: 15px;
    padding: 20px;
    border-radius: 7px;

    &:before {
      display: none;
    }
  }

  .r-more__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-catalog__card {
    display: flex;
  }

  .r-more {
    padding: 0;
  }

  .r-service__image:after {
    display: none;
  }

  .r-service__image img {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 10px auto;
  }

  .r-service {
    padding: 30px 0 0 0;
  }

  .r-service__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .r-service__content {
    padding-bottom: 10px;
  }

  .r-service__trash {
    width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
    padding: 20px;
  }

  .r-service__seo {
    padding-bottom: 0;
  }

  .r-contacts__title {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
  }

  #map {
    width: 100%;
    height: 300px;
  }

  .r-contacts__content {
    position: relative;
    height: auto;
    left: auto;
    bottom: auto;
    margin: 20px 0;
    padding: 20px;
  }

  .r-contacts__link {
    margin-top: 30px;
  }

  .r-form {
    padding: 30px 0;
  }

  .r-form__form input {
    margin-bottom: 5px;
  }

  .r-nav__bar>li {
    margin: 0;
  }

  .r-nav__bar>li>i {
    display: none;
  }

  .r-service__seo {
    padding-top: 20px;
  }

  .r-calc__info {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;

    a {
      font-size: 12px;
    }
  }

  .r-footer__info {
    text-align: center;
  }
  .r-modal__row {
    justify-content: space-around;
    margin-top: 5px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
